.container {
            width: 1000px;
            margin: 50px auto;
        }

 
.satu, .dua{
	width:200px;
    height:200px;
    margin-left: 50px;
    margin-bottom:50px;
}

.satu{
            
            background-color: green;
            border:solid;
            border-image-source: url("src/hearts.png");
            border-image-width: 20px;
            border-image-slice: 20 22;
            border-image-repeat: round;
            border-image-outset: 20px;
            box-shadow: 25px 25px;
        }

.dua{
            background-color: blue;
            border:solid;
            border-image-source: url("src/border1.png") ;
            border-image-width: 30px;
            border-image-slice: 33%;
            border-image-repeat: round;
            border-image-outset: 20px;
            box-shadow: 10px 10px 30px;
            /*padding: 15px;*/
           
        }